.cards-wrap {
  max-width: 1170px;
  margin: 90px auto 0;
  @media (max-width: 1170px) {
    display: flex;
    flex-wrap: wrap;
  }

  &__heading-wrap {
    @include centerItems;
    flex-direction: column;
    padding: 30px 0;
    @media (max-width: 1170px) {
      margin-bottom: 20px;
      width: 100%;
    }

    > h1 {
      margin: 20px 0;
      font: 400 48px "Quicksand";
      text-transform: uppercase;
    }
    @media (max-width: 1170px) {
      padding: 0;
      > h1 {
        font-size: 40px;
      }
    }
  }
  &__heading-btn {
    margin: 0 5px;
    color: white;
    background: #6686b7;
    border: none;
    padding: 10px;
    border-radius: 50px;
    @include buttonStyle;
    @include boxShadow;
    &:hover {
      background: #475d80;
    }
  }
  .new-car-btn {
    width: 150px;
  }
  .submissions-btn {
    width: 230px;
    text-decoration: none;
  }

  &__desc-card {
    width: 1170px;
    display: flex;
    @include boxShadow;
    margin-bottom: 20px;
    height: 61.22px;
    align-items: center;
    padding: 0;
    @media (max-width: 1170px) {
      display: none;
    }

    li {
      font: 400 16px "Quicksand";
      text-transform: uppercase;
      text-align: center;
      list-style: none;
    }
  }
  &__img-desc {
    width: 120px;
  }
  &__name-desc {
    width: 211px;
  }
  &__category-desc {
    width: 300px;
  }
  &__rent-desc {
    width: 115px;
  }
  &__id-desc {
    width: 300px;
  }
  &__modify-desc {
    width: 124px;
  }
}
