.delete-overlay {
  @include blackOverlay;
}

.delete-modal {
  height: 200px;
  width: 500px;
  background: #eee;
  @include boxShadow;

  &__question {
    text-align: center;
    font: 400 25px "Quicksand";
  }

  &__btns-wrap {
    width: 350px;
    margin: 50px auto 0;
  }
  &__btn {
    padding: 10px;
    width: 150px;
    color: white;
    border-radius: 4px;
    margin: 0 12.5px;
    @include buttonStyle;
    &--no {
      background: #d0363c;
      &:hover {
        background: #b61c23;
      }
    }
    &--yes {
      background: #00b300;
      &:hover {
        background: #008f00;
      }
    }
  }
}
