.edit-add-modal-overlay {
  @include blackOverlay;
}
.edit-add-modal-heading {
  height: 70px;
  display: flex;
  align-items: flex-end;
  background: #f9f9f9;
  padding: 0 0 15px 20px;
  h2 {
    margin: 0;
    font: 400 19px "Quicksand";
    text-transform: uppercase;
  }
}

.edit-add-modal-form {
  background: #eee;
  width: 500px;
  height: 630px;
  position: fixed;
  @include boxShadow();

  label {
    display: block;
    color: black;
    font: 400 18px "Quicksand";
    text-transform: uppercase;
  }

  .edit-add-modal-input-wrap {
    width: 400px;
    padding-top: 10px;
    margin: 0 auto;
  }
  input,
  textarea {
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f8f8f8;
    width: inherit;
    color: black;
    font: 400 18px "Quicksand";
    letter-spacing: 1.5px;
    padding: 3px 20px;

    &:focus {
      color: black;
      font: 400 18px "Quicksand";
      letter-spacing: 1.5px;
    }
  }
  .edit-add-modal-buttons-wrap {
    height: 90px;
    @include centerItems();

    .edit-add-modal-button {
      @include buttonStyle();
      padding: 10px;
      margin: 0 10px;
      width: 150px;
      background: #6686b7;
      color: #fff;
      border-radius: 4px;
      &:hover {
        background: #475d80;
      }
      &--color {
        background: #d0363c;
        &:hover {
          background: #b61c23;
        }
      }
    }
  }
}
