.footer {
  margin: 0 auto;

  &__nav {
    height: 200px;
    background: #172025;
  }
  &__unord-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: inherit;
    padding: 0 50px;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
    @media (max-width: 400px) {
      flex-wrap: wrap;
    }
  }
  &__list-item {
    margin-left: 50px;
    padding-right: 50px;
    @media (max-width: 768px) {
      text-align: center;
      width: 150px;
      margin: 0;
      padding: 0;
    }
    @media (max-width: 400px) {
      width: 150px;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    > a {
      text-decoration: none;
      color: white;
      font: 400 18px "Quicksand";
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}
