.nav {
  background: #172025;
  height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    justify-content: flex-end;
    padding-right: 10px;
  }
  &__unord-list {
    display: flex;
    margin: 0;
    padding: 0;
    height: inherit;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    @media (max-width: 768px) {
      display: none;
      width: calc(100% - 60px);
    }
   
  }
  &__hamburger {
    display: none;
    width: 50px;
    cursor: pointer;
    @media (max-width: 768px) {
      display: block;
    }
  }
  &__list-item {
    margin-left: 20px;
    padding-right: 30px;
    @media (max-width: 768px) {
      margin: 0;
      padding-right: 20px;
    }
    > img {
      height: 21px;
    }
    &--margin {
      margin: 0 auto 0 0;
    }
    &--padding {
      padding-right: 5px;
    }
    > a {
      text-decoration: none;
      color: white;
      font: 400 18px "Quicksand";
      text-transform: uppercase;
      letter-spacing: 1px;
      @include slidingUnderline();
    }
    .active {
      border-bottom: 1px solid white;
    }
  }

  &__auth {
    color: white;
    border: none;
    background: #00b300;
    height: 35px;
    width: 100px;
    margin-right: 20px;
    display: block;
    @include boxShadow();
    @include buttonStyle();
    @media (max-width: 768px) {
      display: none;
    }
    &:hover {
      background: #007d00;
    }
    &--logout {
      background: #ce2d28;
      &:hover {
        background: #901f1c;
      }
    }
  }
}
