.hero {
  width: 100%;
  height: 525px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url("/static/img/corvette.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
 


  &__overlay {
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 525px;
    background: rgba(0, 0, 0, 0.4);
    margin-top: 90px;
    z-index: 1; 
    @media (max-width: 400px) {
      background: rgba(0, 0, 0, 0.5);
    }
  }

  > h1 {
    font: 400 48px "Quicksand";
    color: white;
    letter-spacing: 3px;
    margin: 0;
    text-transform: uppercase;
    z-index: 2;
    @media (max-width: 768px) {
      text-align: center;
    }
    @media (max-width: 400px) {
      text-align: center;
    }
  }
  > p {
    color: white;
    margin-top: 10px;
    font: 400 16px "Quicksand";
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 2;
    @media (max-width: 768px) {
      text-align: center;
    }
    @media (max-width: 400px) {
      text-align: center;
    }
  }
  > a {
    font: 400 16px "Quicksand";
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    border: 1px solid #fff;
    padding: 15px 0;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    z-index: 2;

    &:hover {
      background: #ce2d28;
      border: 2px solid #ce2d28;
      color: white;
    }
  }
}
