.hero {
  width: 100%;
  height: 525px;
  background: url("/static/img/corvette.jpg") bottom/cover no-repeat;
  @include centerItems();
  flex-direction: column;
  margin-top: 90px;
  @media (min-width: 1600px) {
    background-position: center;
  }

  &__overlay {
    top: 0;
    position: absolute;
    @include centerItems();
    flex-direction: column;
    width: 100%;
    height: 525px;
    background: rgba(0, 0, 0, 0.4);
    margin-top: 90px;
    z-index: 1;
    @media (max-width: 400px) {
      background: rgba(0, 0, 0, 0.5);
    }
  }

  > h1 {
    font: 400 48px "Quicksand";
    color: white;
    letter-spacing: 3px;
    margin: 0;
    text-transform: uppercase;
    z-index: 2;
    text-align: center;
  }
  > p {
    color: white;
    margin-top: 10px;
    font: 400 16px "Quicksand";
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    z-index: 2;
  }
  > a {
    @include buttonStyle();
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 0;
    width: 200px;
    cursor: pointer;
    z-index: 2;

    &:hover {
      background: #ce2d28;
      border: 1px solid #ce2d28;
    }
  }
}
