.mobileNav {
  display: none;
  position: fixed;
  top: 90px;
  height: 100vh;
  width: 100vw;
  background: rgb(245, 245, 245);
  z-index: 50;
  transition: 300ms ease-out;
  @media (max-width: 400px) {
    display: block;
  }

  &__unord-list {
    padding: 0 0 90px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  &__list-item {
    a {
      text-decoration: none;
      color: black;
      font: 400 30px "Quicksand";
      text-transform: uppercase;
      letter-spacing: 1px;
      &:hover {
        border-bottom: 1px solid black;
        padding-bottom: 5px;
      }
    }
  }
}
