.mobileNav {
  position: fixed;
  top: 90px;
  height: 100vh;
  width: 100vw;
  background: rgb(245, 245, 245);
  z-index: 50;
  transition: 300ms ease-out;
  @media (max-width: 535px) {
    display: block;
  }

  &__unord-list {
    margin: 0;
    padding: 0;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  &__list-item {
    a {
      text-decoration: none;
      color: black;
      font: 400 30px "Quicksand";
      text-transform: uppercase;
      letter-spacing: 1px;
      &:hover {
        border-bottom: 1px solid black;
        padding-bottom: 5px;
      }
    }
  }
  &__auth {
    color: white;
    background: #00b300;
    height: 35px;
    width: 100px;
    margin: 20px auto;
    display: block;
    @include boxShadow();
    @include buttonStyle();
    &:hover {
      background: #007d00;
    }
    &--logout {
      background: #ce2d28;
      &:hover {
        background: #901f1c;
      }
    }
  }
}
