.diplayFlex {
  display: flex;

}
.margin-right {
    margin-right: 25px;
}
.margin-bottom {
    margin-bottom: 10px;
}



.modal-wrap {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  background-color: rgba(0,0,0, 0.7);
  z-index: 100;
  
  &__form {
    margin: 0 auto;
    width: 625px;
    padding: 50px;
    background-color: rgba(206, 45, 40, 0.95);

    > h2 {
        font: 400 25px "Quicksand";
        color: white;
        text-align: center;
        margin: 0 0 10px;
        text-transform: uppercase;
    }
    label {
      display: block;
      color: white;
      font: 300 16px "Quicksand";
      letter-spacing: 1px;
      padding: 5px 0;
      text-transform: uppercase;
    }
    input {
      width: 250px;
      font: 400 16px "Quicksand";
      color: black;
      padding: 5px 5px;
      border: 1px solid black;
    }
    
  }
 
  &__card-num-wrap {
    > input {
      width: 350px;
    }
  }
  &__cvv-wrap {
    > input {
        width: 150px;
      }
  }
  &__street-wrap {
    > input {
        width: 100%;
      }
  } 
  &__zip-wrap {
    > input {
        width: 150px;
      }
  } 
  &__button-wrap {
    width: 525px;
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
  }
  &__submit, &__cancel {
    background: #172025;
    border: none;
    color: white;
    letter-spacing: 1px;
    padding: 10px;
    width: 150px;
    font: 400 16px "Quicksand";
    text-transform: uppercase;
  }
}
