.products-header {
  min-height: 250px;
  max-width: 1150px;
  margin: 90px auto 0;
  padding: 0 100px;
  display: flex;
  align-items: center;

  flex-wrap: wrap;
  @media (max-width: 990px) {
    padding: 20px;
  }

  @media (max-width: 768px) {
    max-width: 768px;
    padding: 25px 15px;
    align-items: flex-start;
    margin: 90px 0 0;
  }
  @media (max-width: 400px) {
    width: 400px;
    height: 400px;
    padding: 25px;
  }

  &__heading {
    width: 333px;
    height: 100px;
    margin-right: auto;
    @media (max-width: 990px) {
      margin: 0;
      width: 100%;
    }
    @media (max-width: 400px) {
      margin: 0;
      width: 350px;
    }

    > h1 {
      font: 400 40px "Quicksand";
      text-transform: uppercase;
      margin: 0 0 20px;
      @media (max-width: 990px) {
        text-align: center;
      }
    }
    > p {
      font: 400 20px "Quicksand";
      text-transform: uppercase;
      margin: 0;
      @media (max-width: 990px) {
        text-align: center;
      }
    }
  }
  &__select-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 450px;
    min-height: 120px;
    margin: 0 auto;
    @media (max-width: 990px) {
      margin-bottom: 20px;
    }

    @media (max-width: 768px) {
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    @media (max-width: 400px) {
      justify-content: center;
      align-items: center;
      min-width: 333px;
      flex-wrap: wrap;
    }
  }
  &__type-select,
  &__price-select {
    @include selectButton();
    padding-left: 20px;
    cursor: pointer;
    margin-top: auto;
    @media (max-width: 768px) {
      margin: 0 auto 10px;
    }
    @media (max-width: 400px) {
      margin: 0 0 10px;
    }
  }
  &__show-all-button {
    @include selectButton();
    margin: auto auto 0;
    @media (max-width: 768px) {
      margin: 0 auto;
    }
  }
  > form {
    @include centerItems();
    width: 100%;

    > .search-bar {
      font: 400 16px "Quicksand";
      color: black;
      letter-spacing: 2px;
      border: 1px solid black;
      width: 350px;
      height: 35px;
      padding-left: 10px;
      @media (max-width: 400px) {
        width: 315px;
      }
    }
    > .search-bar-submit {
      font: bolder 16px "Quicksand";
      color: black;
      border: 1px solid black;
      border-left: none;
      width: 35px;
      height: 35px;
      background: url("/static/img/search.svg") no-repeat center/25px;
      background-color: rgba(0, 0, 0, 0.8);
    }
    ::placeholder {
      color: black;
      font: 400 16px "Quicksand";
    }
  }
}
