.products-header {
  height: 250px;
  width: 1150px;
  margin: 90px auto 0;
  padding: 0 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  @media (max-width: 400px) {
    width: 400px;
    height: 400px;
    padding: 25px;
  }

  &__heading {
    width: 333px;
    height: 100px;
    margin-right: auto;
    > h2 {
      font: 400 40px "Quicksand";
      text-transform: uppercase;
      margin: 0 0 20px;
      @media (max-width: 400px) {
        text-align: center;
      }
    }
    > p {
      font: 400 20px "Quicksand";
      text-transform: uppercase;
      margin: 0;
      @media (max-width: 400px) {
        text-align: center;
      }
    }
  }
  &__select-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 450px;
    height: 120px;
    @media (max-width: 400px) {
        justify-content: center;
        height: 150px;
      }
  }
  &__type-select,
  &__price-select {
    font: 400 16px "Quicksand";
    color: black;
    appearance: none;
    letter-spacing: 2px;
    border: 1px solid black;
    padding-left: 20px;
    background: none;
    border-radius: 0px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    margin-top: auto;
  }
  &__show-all-button {
    margin: auto auto 0;
    font: 400 16px "Quicksand";
    color: black;
    appearance: none;
    letter-spacing: 2px;
    border: 1px solid black;
    background: none;
    border-radius: 0px;
    width: 200px;
    height: 40px;
  }
  > form {
    display: flex;
    align-items: center;
    > .search-bar {
      font: 400 16px "Quicksand";
      color: black;
      letter-spacing: 2px;
      border: 1px solid black;
      width: 350px;
      height: 35px;
      margin: auto auto 0;
      @media (max-width: 400px) {
        width: 315px;
      }
    }
    > .search-bar-submit {
      font: bolder 16px "Quicksand";
      margin: auto auto 0;
      color: black;
      border: 1px solid black;
      border-left: none;
      width: 35px;
      height: 35px;
      background-image: url("/static/img/search.svg");
      background-repeat: no-repeat;
      background-size: 25px;
      background-position: center;
      background-color: rgba(0, 0, 0, 0.8);
    }
    ::placeholder {
      color: black;
      font: 400 16px "Quicksand";
    }
  }
}
